$gray200: #e2e8f0;

#sharecul {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  header {
    height: 90px;
    z-index: 1;
  }
  main {
    flex: 1;
  }
}

#sharecul-admin {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  header {
    height: 60px;
    z-index: 1;
  }
  main {
    width: 100%;
    padding: 12px;
    background-color: $gray200;
  }
}

#sharecul-admin-auth {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  header {
    height: 60px;
    z-index: 1;
  }
  main {
    flex: 1;
  }
}
