#sharecul {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  header {
    height: 90px;
  }
  main {
    flex: 1;
  }
}

#sharecul-admin {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  header {
    height: 60px;
  }
  main {
    padding: 16px;
  }
}

#sharecul-admin-auth {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  header {
    height: 60px;
  }
  main {
    flex: 1;
  }
}
